<nav>
  <ul>
    <li>
      <a routerLink="/ima-employees">IMA employees</a>
    </li>
    <li>
      <a routerLink="/ima-employees/Institutsleiter Informationsmanagement">IMA Studiengangsleitung</a>
    </li>
    <li>
      <a routerLink="/ima-employees/Nebenberuflich Lehrend">IMA Nebenberuflich Lehrend</a>
    </li>
    <li>
      <a routerLink="/ima-students">IMA students</a>
    </li>
    <li>
      <a routerLink="/ima-students/AIM">AIM students</a>
    </li>
  </ul>
</nav>

<br/>

<router-outlet></router-outlet>
